[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = ">=1.2.0"
google-api-python-client = ">=2.68.0"
google-auth = ">=2.15.0"

[dev-packages]
bump2version = "*"
